name: PR
on:
  pull_request:
    branches-ignore: [gh-pages]
permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          #- macos-latest
          #- windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-action
      - uses: ./.github/actions/test-action
        with:
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
